<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <title>eShop</title>
</head>

<body>
    <div id="app">
        <div class="conteyner">
            <notification :error="error" :level="level" v-for="(error, level) in errors" :key="`error-${level}`"></notification>
            <header>
                <search v-model="searchLine"></search>
                <cart :goods="goodsInCart" @remove="removeToCart"></cart>
            </header>
            <main class="content">
                <goods-list :goods="filteredGoods" @add="addToCart"></goods-list>
            </main>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/script.js"></script>

</html>